doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |  
    title All Volunteer
    link(rel='stylesheet', href='/css/style.css')
    style.
      .main_btn{
      height: 70%;
      }
  body
    nav
      .navbar
        a(href='/volunteerHome') Volunteer Management System

    if(volunteers.length == 0)
        h1(style='text-align: center;') There are no Volunteers to display
    
    else
        .all_vol_main_btn
            each volunteer in volunteers
                .con
                    img(src='/img/ptofile4.jpg', alt='', height='150', width='250')
                    .con_content
                        p
                        b Name : 
                        | #{volunteer.name}
                        //- | p="hellp"
                        p
                        b Skills : 
                        |  #{volunteer.skills}
                        p
                        b place :
                        |  #{volunteer.place}