doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title index
    link(rel='stylesheet', href='/css/style.css')
  body
    // button section start
    .main_btn
      .in
        button.btn.HF Volunteer SignUP
        button.btn.HF Volunteer Login
        button.btn.CO Company SignUp
        button.btn.CO Company Login
    // button section start