doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title index
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/login.js')

  body
    .main_btn#mainId
      .in
        a(href="/volunteerSignup")
            button.btn.HF Volunteer SignUP
        a(href="/login")
            button.btn.HF Volunteer Login
        a(href="")
            button.btn.CO Company SignUp
        a(href="/login")
            button.btn.CO Company Login