doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    
  body
    .main_btn
      .in
        .signin
          h3 Organization SignIn
          form(action="")
            input#email(type="text", placeholder="email", value="", required)
            br
            input#password(type="password", placeholder="password", value="", required)
            br
            input#orgLoginBtn(type="button", value="Submit")
            br


    script(src='/js/orgLogin.js') 
          