doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='/css/style.css')

  body
    nav
      .navbar
        //- a(href='#') Volunteer Management System
        //- h2=`Welcome`
        if user
          h1#vol_home_h1= `Welcome ${user.name}`
          //- p= `Welcome ${user.name}`
          button#vol_home_logout(type="button") Log Out
        else 
          h1 Volunteer Management System

    .vol_home_main_btn
      button#VHF.vol_home_btn All Volunteer
      button#VHS.vol_home_btn All Event
      button#VHT.vol_home_btn My profile

  script(src='/js/logout.js') 