doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='/css/style.css')

  body
    nav
      .navbar
        a(href='/') Volunteer Management System

    .center
      .signup
        img(src='/img/lock.png', width='80', height='40', alt='')
        h3 Volunteer Sign Up
        
        form(action='')
          input#name(type='text', placeholder='Full Name*', required='')
          br
          //- input#mobileNumber(type='tel', placeholder='Mobile no', required='', pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}")
          //- br
          input#email(type='email', placeholder='Email*', required='')
          br
          input#place(type='text', placeholder='Place', required='')
          br
          input#skills(type='text', placeholder='Skills*', required='')
          br
          input#password(type='password', placeholder='password*', required='')
          br
          input#confirmpassword(type='password', placeholder='Confirm password*', required='')
          br
          input#vol_signup(type='button', value='Sign Up')
        p.para
          | Already have an account 
          a(href='/login') Login 
  
  script(src="/js/volSignup.js") 