html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color:   rgba(220, 228, 235, 0.838);
}

#mainId{
    background-image: url('./../img/bg_main.jpeg');
    background-size: cover;
    background-position: center;
}

/* index button  */
.main_btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgb(127, 197, 234);
}

.all_vol_main_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.vol_home_main_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.in{
    width: 50%;
}

.btn{
    height: 105px;
    width: 230px;
    margin: 50px;
    border-radius: 20px;
    background-color: white;
    margin-left : 2%;
    margin-right : 2%;
    font-size: x-large;
    box-shadow:2px 5px 10px 1px black; 
}

.vol_home_btn{
    height: 320px;
    width: 230px;
    /* margin: 50px; */
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    font-size: x-large;
    box-shadow:2px 5px 10px 1px black;
    margin: 21px;
}

#VHF{
    background: url(/img/all1.jpg);
    background-size: cover;
    cursor: pointer;
}
#VHF:hover{
    font-size: bold;
}
#VHS{
    background: url(/img/evn1.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#VHT{
    background: url(/img/pro3.jpg);
    background-size:cover;
    background-position: center;
    cursor: pointer;
}

.btn:hover{
    box-shadow:2px 5px 10px 4px black;
    font-weight: bold;
}

/* volunteer home  */

.HF{
    background-color: antiquewhite;
    background-size: cover;
}
.CO{
    background-color: antiquewhite;
}

#vbtn{
    height: 100%;
}

.signin {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    width: 400px;
    /* padding: 0%; */
    background-color: white;
    box-shadow:2px 5px 10px 4px black;
    border-radius: 15px;
    margin-left: 104px;
}

form input {
    margin: 2px;
    height: 30px;
    width: 99%;
}


/* navbar */
.navbar{
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #0d6efd;   
}
.navbar a{
    text-decoration: none;
    font-size: 50px;
    align-self: center;
    color: white;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.center input[type="button"]{
    width: 100%;
    background-color: #0d6efd;
    font-size: medium;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
}

.signup {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 0%;
    background-color: white;
    box-shadow:2px 5px 10px 4px black;
    border-radius: 15px;
}

#vol_home_logout{
    height: 28px;
    width: 77px;
    border-radius: 10px;
    margin-left: 30%;
    cursor: pointer;
}

#vol_home_h1{
    margin-left: 35%;
}

.con {
    /* height: fit-content; */
    height: 282px;
     width: 230px;
     margin-top: 50px;
     border-radius: 20px;
     overflow: hidden;
     background-color: white;
     margin-left: 15px;
     box-shadow:2px 5px 10px 1px black;
}
.con_content{
    padding-left: 13%;
}
.con:hover{
    box-shadow:2px 5px 10px 4px black;
}
.all_events_con {
    height: 389px;
     width: 238px;
     margin-top: 50px;
     border-radius: 20px;
     overflow: hidden;
     background-color: white;
     margin-left: 15px;
     box-shadow:2px 5px 10px 1px black;
}
.all_events_con_content{
    padding-left: 13%;
}
.all_events_con:hover{
    box-shadow:2px 5px 10px 4px black;
}

#all_event_anchor{
    text-decoration: none;
}

.my_events_con {
    height: 389px;
     width: 238px;
     margin-top: 50px;
     border-radius: 20px;
     overflow: hidden;
     background-color: white;
     margin-left: 15px;
     box-shadow:2px 5px 10px 1px black;
}
.my_events_con_content{
    padding-left: 13%;
}
.my_events_con:hover{
    box-shadow:2px 5px 10px 4px black;
}

.detail_user{
    box-shadow: 1px 1px black;
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: white;
    flex-wrap: nowrap;
    height: 100%;
}

#event_del_btn{
   background-color: palevioletred;
   margin-left: 59px;
   height: 24px;
   width: 100px; 
   border-radius: 13px;
}

#event_del_btn:hover{
    font-weight: bold;
    box-shadow:1px 1px 1px 1px rgb(236, 37, 37);
}
.image_side {
    width: 30%;
}
.image_side {
    display: flex;
    justify-content: center;
}
  
.image_side div img {
    border-radius: 25px;
    width: 100%;
}
  
.image_side div {
    width: 80%;
}

.image_side button{
    padding: 4px;
    border:1px solid red;
    background-color: white;
    font-size: large;
    color: red;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
   width: 100%;
}
.image_side button:hover{

    background-color: red;
    color: white;
}

.contend {
    width: 70%;
}


.contend {
    width: 70%;

}
.contend button{
    padding: 4px;
    border:1px solid red;
    background-color: white;
    font-size: large;
    color: red;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.contend button:hover{
    background-color: red;
    color: white;
}

/* radio */
/* Style for the radio buttons */
input[type="radio"] {
    /* Hide the default radio button */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Create a custom radio button */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    margin-right: 8px; /* Adjust spacing between the radio button and text */
  }
  
  /* Style for checked radio buttons */
  input[type="radio"]:checked {
    background-color: #000;
  }
  
  /* Align radio buttons alongside the text */
  label {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Adjust spacing between radio button groups */
  }
  