html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color:   rgba(220, 228, 235, 0.838);;
    background-image: url('./../img/bg_main.jpeg');
    background-size: cover;
}

/* index button  */
.main_btn{
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

   
}
.in{
    width: 50%;
}

.btn{
    height: 105px;
    width: 230px;
    margin: 50px;
    border-radius: 20px;
    /* overflow: hidden; */
    background-color: white;
    margin-left : 2%;
    margin-right : 2%;
    font-size: x-large;
    box-shadow:2px 5px 10px 1px black;
  
    
}
.btn:hover{
    box-shadow:2px 5px 10px 4px black;
    font-weight: bold;
}

/* volunteer home  */

.HF{
    background: url('./../img/all1.jpg');
    background-size: cover;
}
.CO{
    background: url('./../img/co1.png');
    background-position: center;
}