doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel="shortcut icon", href='/img/eventManagementFav.png', type="image/x-icon")

  body
    .main_btn#mainId
      .in
        a(href="/volunteerSignup")
            button.btn.HF Volunteer SignUP

        a(href="/volLogin")
            button.btn.HF Volunteer Login

        a(href="/organizationSignup")
            button.btn.CO Organization SignUp
            
        a(href="/orgLogin")
            button.btn.CO Organization Login