extends base

block content
  body 
    .main_btn
      .in
        .signin
          h3 Volunteer SignIn
          form(action="")
            input#email(type="text", placeholder="email", value="", required)
            br
            input#password(type="password", placeholder="password", value="", required)
            br
            span#wp_span Wrong Password 
            span#udn_span User Does Not Exists 
            br
            input#volLoginBtn(type="button", value="Submit")
            br
          a(href="/volunteerSignup") Click here to Signup 
