extends base

block content
  body 
    .center
      .signup
        img(src='/img/lock.png', width='80', height='40', alt='')
        h3 Volunteer Sign Up
        
        form(action='')
          input#name(type='text', placeholder='Full Name*', required='')
          br
          input#email(type='email', placeholder='Email*', required='')
          br
          input#place(type='text', placeholder='Place', required='')
          br
          input#skills(type='text', placeholder='Skills*', required='')
          br
          input#number(type='text', placeholder='Number*', required='')
          br
          input#male(type="radio", name="gender", value="male", required) 
          | Male 
          input#female(type="radio", name="gender", value="female", required) 
          | Female
          br
          input#password(type='password', placeholder='password*', required='')
          br
          input#confirmpassword(type='password', placeholder='Confirm password*', required='')
          br
          input#vol_signup(type='button', value='Sign Up')
        p.para
          | Already have an account 
          a(href='/volLogin') Login 
  
  script(src="/js/volSignup.js") 